*{
    background-color: lightcoral;
}
img{
    height: auto;
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    font-family: Monaco, Georgia, monospace;
    color: darkred;
    font-size: 50px;
    font-weight: bold;
}
h3{
    text-align: center;
    font-family: Monaco, Georgia, monospace;
    color: darkred;
    font-size: 40px;
    font-weight: bold;
}
li, 
p{
    text-align: center;
    color: darkred;
    font-size: 20px;
}
li{
    list-style-position: inside;
}